.background{
    background-color: rgb(21, 65, 98);
    font-family: 'Times New Roman', Times, serif;
    padding:100px;
    margin:100px;
    color:bisque;
    border-radius:20px;
}

.align{
    text-align: center;
}
.ul{
    padding-left: 500px;
}
<<<<<<< HEAD
.ul2{
    padding-left: 450px;
}
=======
>>>>>>> 8a6be74a79c354829479c767da05e962a03c8dcf
